@font-face {
    font-family: "iconfont";
    src: url('../assets/iconfont/iconfont.eot?t=1509583688642');
    /* IE9*/
    src: url('../assets/iconfont/iconfont.eot?t=1509583688642#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../assets/iconfont/iconfont.woff?t=1509583688642') format('woff'), /* chrome, firefox */
    url('../assets/iconfont/iconfont.ttf?t=1509583688642') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../assets/iconfont/iconfont.svg?t=1509583688642#iconfont') format('svg');
    /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 0.8rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-category:before {
    content: "\e699";
}

.icon-fanhui:before {
    content: "\e6e3";
}

.icon-tianjia:before {
    content: "\e6a5";
}

.icon-tianjia-circle:before {
    content: "\e68e";
}

.icon-xiaoxi:before {
    content: "\e672";
}

.icon-lianxiren:before {
    content: "\e63d";
}

.icon-dongtai:before {
    content: "\e602";
}

.icon-404:before {
    content: "\e60c";
}

.icon-search:before {
    content: "\e620";
}

.icon-vip:before {
    content: "\e603";
}

.icon-wallet:before {
    content: "\e625";
}

.icon-grab:before {
    content: "\e604";
}

.icon-favor:before {
    content: "\e61f";
}

.icon-photo:before {
    content: "\e63f";
}

.icon-file:before {
    content: "\e621";
}

.icon-setting:before {
    content: "\e8ea";
}

.icon-night:before {
    content: "\e653";
}

.icon-profile:before {
    content: "\e631";
}

.icon-phone:before {
    content: "\e626";
}

.icon-totop:before {
    content: "\e600";
}

.icon-QQ:before {
    content: "\e647";
}

.icon-arrow-down:before {
    content: "\e6a6";
}

.icon-arrow-right:before {
    content: "\e6a7";
}